@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html {
  box-sizing: content-box;
}

body {
  margin: 0;
  padding: 30px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: black;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
  /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1rem;
  /* Footer height */
}

footer>p {
  text-align: center;
  font-family: acumin-pro, sans-serif;
  font-size: 0.8em;
  color: white;
  cursor: default;
}

.link {
  text-decoration: none;
  color: white;
  text-align: center;
}

/*index.html*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 80vh;
  flex-direction: column;
  z-index: 1;
  cursor: default;
}

.title {
  color: #fff;
  font-family: Londrina Outline, sans-serif;
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 5px #9bf29c, 0 0 10px #9bf29c, 0 0 20px #9bf29c,
    0 0 40px #9bf29c, 0 0 80px #9bf29c, 0 0 80px #9bf29c, 0 0 100px #9bf29c,
    0 0 120px #9bf29c;
  animation: blink 3s infinite linear alternate;
  margin-bottom: 30px;
  margin-left: 10px;
  white-space: nowrap;
}

.title>.letter {
  margin: 0 5px;
}

@keyframes blink {

  60%,
  70%,
  79% {
    opacity: 1;
  }

  65%,
  67%,
  76%,
  78% {
    opacity: 0.2;
  }

  66%,
  69%,
  77% {
    opacity: 0.8;
  }
}

.subtitle {
  color: #d6d1e8;
  font-family: open sans, sans serif;
  font-size: 2.2em;
  font-weight: 600;
  padding: 8px 16px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: #d6d1e8 2px 2px 10px;
  animation: border-flicker 6s ease-in-out 8.15s infinite alternate both;
  letter-spacing: 5px;
  white-space: nowrap;
}

/* does not work, somehow for other letters */
.subtitle>.letter {
  margin-left: 20px;
}

.subtitle>.letter1-0 {
  animation: flicker 6s ease-in-out 7.75s infinite alternate both;
}

.subtitle>.letter1-1 {
  animation: flicker 6s ease-in-out 14.75s infinite alternate both;
}

.subtitle>.letter1-2 {
  animation: flicker 6s ease-in-out 7.41s infinite alternate both;
}

.subtitle>.letter1-3 {
  animation: flicker 6s ease-in-out 8.94s infinite alternate both;
}

.subtitle>.letter1-4 {
  animation: flicker 6s ease-in-out 5.47s infinite alternate both;
}

.subtitle>.letter1-5 {
  animation: flicker 6s ease-in-out 6.6s infinite alternate both;
}

.subtitle>.letter1-6 {
  animation: flicker 6s ease-in-out 9.81s infinite alternate both;
}

.subtitle>.letter1-7 {
  animation: flicker 6s ease-in-out 6.39s infinite alternate both;
}

.subtitle>.letter1-7 {
  animation: flicker 6s ease-in-out 4.81s infinite alternate both;
}

.subtitle>.letter1-8 {
  animation: flicker 6s ease-in-out 74.39s infinite alternate both;
}

.subtitle>.letter1-9 {
  animation: flicker 6s ease-in-out 11.81s infinite alternate both;
}

.subtitle>.letter1-10 {
  animation: flicker 6s ease-in-out 9.39 s infinite alternate both;
}

.subtitle>.letter1-11 {
  animation: flicker 6s ease-in-out 14.23s infinite alternate both;
}

.subtitle>.letter1-12 {
  animation: flicker 6s ease-in-out 19.39s infinite alternate both;
}

@keyframes flicker {

  0%,
  2%,
  35%,
  37%,
  39%,
  41%,
  100% {
    opacity: 1;
  }

  1%,
  3%,
  35%,
  36%,
  38%,
  40% {
    opacity: 0;
  }
}

@keyframes border-flicker {

  0%,
  2%,
  4%,
  6%,
  33%,
  37%,
  39%,
  41%,
  100% {
    border: 2px solid white;
    box-shadow: #a48ff2 0px, 0px 10px, inset #a48ff2 2px, 2px, 10px;
  }

  1%,
  3%,
  5%,
  34%,
  36%,
  38%,
  40% {
    border-color: transparent;
    box-shadow: unset;
  }
}

a {
  color: none;
  text-decoration: none;
}

/*codeforcountdown*/

.countdown>p {
  color: #d6d1e8;
  font-family: Londrina Outline, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  padding: 8px 16px;
  text-align: center;
  text-shadow: #a48ff2 2px 2px 10px;
  letter-spacing: 5px;
  margin-top: 10px;
}

/*BURGER MENU*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: auto;
}

.navbar {
  width: 100%;
  color: black;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  font-family: Londrina Outline, sans-serif;
  color: white;
  font-weight: 500;
  font-size: 2em;
  padding: 0.7rem;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: white;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  background-color: black;
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  /* margin-left: -40px;
  padding-left: 50px; */
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.navbar .menu-items li a:hover {
  color: #9bf29c;
}

.navbar .menu-items li .active {
  text-decoration: underline;
  font-weight: normal;
}

.navbar .menu-items li .active:hover {
  color: white;
}

.nav-container input[type="checkbox"]:checked~.menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked~.logo {
  display: none;
}

/*about page*/
.headline {
  writing-mode: vertical-rl;
  color: white;
  font-family: Londrina Outline, sans-serif;
  font-size: 18vw;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(180deg);
  letter-spacing: 10px;
  margin: 0;
  padding: 0;
  margin-left: 0vw;
}

.textbox {
  margin-left: 10vw;
  width: 50%;
  height: fit-content;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2vw;
  padding: 20px;
  cursor: default;
}

.textbox>p {
  font-family: acumin-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2em;
  line-height: 1.6;
  color: white;
}

/* .movingtext {
  display: inline-block;
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  font-size: 1em;
  color: white;
  /* animation: moveRight 20s infinite ; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  
} 
@keyframes moveRight {
  0%, 50% {
    transform: translate(-30vw);
  }

  100% {
    transform: translate(10vw);
  }
} */

/*contac page*/
h2 {
  font-family: acumin-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2em;
  line-height: 1.6;
  color: white;
}

#email {
  font-family: acumin-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2em;
  line-height: 1.6;
  color: white;
  text-decoration: underline;
}

@media only screen and (max-width: 1000px) {
  .textbox {
    width: auto;
    font-size: 1.2em;
    margin-left: 0;
    margin-top: 50px;
  }

  .headline {
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    font-size: 20vw;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2vw;
    padding: 20px;
  }

  .subtitle {
    font-size: 1em;
  }
}