@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");


body {
  background-color: black;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: black;
  height: 110vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 100vh;
  flex-direction: column;
}

.title {
  color: #fff;
  font-family: Londrina Outline, sans-serif;
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 5px #ff7bac, 0 0 10px #ff7bac, 0 0 20px #ff7bac,
    0 0 40px #ff7bac, 0 0 80px #ff7bac, 0 0 80px #ff7bac, 0 0 100px #ff7bac,
    0 0 120px #ff7bac;
  animation: blink 3s infinite linear alternate;
}

.title>.letter {
  margin: 0 9px;
}

@keyframes blink {

  60%,
  70%,
  79% {
    opacity: 1;
  }

  65%,
  67%,
  76%,
  78% {
    opacity: 0.2;
  }

  66%,
  69%,
  77% {
    opacity: 0.8;
  }
}

.subtitle {
  color: #d6d1e8;
  font-family: open sans, sans serif;
  font-size: 2rem;
  font-weight: 600;
  padding: 8px 16px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: #a48ff2 2px 2px 10px;
  animation: border-flicker 6s ease-in-out 8.15s infinite alternate both;
  letter-spacing: 10px;
  cursor: pointer;
}

.subtitle:hover {
  text-shadow: 0 0 5px #ff7bac, 0 0 10px #ff7bac, 0 0 20px #ff7bac,
    0 0 40px #ff7bac, 0 0 80px #ff7bac, 0 0 80px #ff7bac, 0 0 100px #ff7bac,
    0 0 120px #ff7bac;
}

/* does not work, somehow for other letters */
.subtitle>.letter {
  margin-left: 20px;
}

.subtitle>.letter1-0 {
  animation: flicker 6s ease-in-out 7.75s infinite alternate both;
}

.subtitle>.letter1-1 {
  animation: flicker 6s ease-in-out 14.75s infinite alternate both;
}

.subtitle>.letter1-2 {
  animation: flicker 6s ease-in-out 7.41s infinite alternate both;
}

.subtitle>.letter1-3 {
  animation: flicker 6s ease-in-out 8.94s infinite alternate both;
}

.subtitle>.letter1-4 {
  animation: flicker 6s ease-in-out 5.47s infinite alternate both;
}

.subtitle>.letter1-5 {
  animation: flicker 6s ease-in-out 6.6s infinite alternate both;
}

.subtitle>.letter1-6 {
  animation: flicker 6s ease-in-out 9.81s infinite alternate both;
}

.subtitle>.letter1-7 {
  animation: flicker 6s ease-in-out 6.39s infinite alternate both;
}

.subtitle>.letter1-7 {
  animation: flicker 6s ease-in-out 4.81s infinite alternate both;
}

.subtitle>.letter1-8 {
  animation: flicker 6s ease-in-out 74.39s infinite alternate both;
}

.subtitle>.letter1-9 {
  animation: flicker 6s ease-in-out 11.81s infinite alternate both;
}

.subtitle>.letter1-10 {
  animation: flicker 6s ease-in-out 9.39 s infinite alternate both;
}

.subtitle>.letter1-11 {
  animation: flicker 6s ease-in-out 14.23s infinite alternate both;
}

.subtitle>.letter1-12 {
  animation: flicker 6s ease-in-out 19.39s infinite alternate both;
}

@keyframes flicker {

  0%,
  2%,
  35%,
  37%,
  39%,
  41%,
  100% {
    opacity: 1;
  }

  1%,
  3%,
  35%,
  36%,
  38%,
  40% {
    opacity: 0;
  }
}

@keyframes border-flicker {

  0%,
  2%,
  4%,
  6%,
  33%,
  37%,
  39%,
  41%,
  100% {
    border: 2px solid white;
    box-shadow: #a48ff2 0px, 0px 10px, inset #a48ff2 2px, 2px, 10px;
  }

  1%,
  3%,
  5%,
  34%,
  36%,
  38%,
  40% {
    border-color: transparent;
    box-shadow: unset;
  }
}

a {
  color: none;
  text-decoration: none;
}

/*codeforcountdown*/


.countdown {
  color: #d6d1e8;
  font-family: Londrina Outline, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  padding: 8px 16px;
  text-align: center;
  text-shadow: #a48ff2 2px 2px 10px;
  letter-spacing: 5px;
}